<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cse135</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>
        org.apache.struts.action.ActionServlet
    </servlet-class>
    <init-param>
        <param-name>config</param-name>
        <param-value>
         /WEB-INF/struts-config.xml
        </param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
</servlet>

  
  <servlet-mapping>
  	<servlet-name>action</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <security-constraint>
    <web-resource-collection>
	  <web-resource-name>Chair</web-resource-name>
	  <url-pattern>/mvc/chair/*</url-pattern>
	</web-resource-collection>
	<auth-constraint>
	  <role-name>chair</role-name>
	</auth-constraint>
	<user-data-constraint>
	  <transport-guarantee>NONE</transport-guarantee>
	</user-data-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
	  <web-resource-name>Applicant</web-resource-name>
	  <url-pattern>/mvc/application/*</url-pattern>
	</web-resource-collection>
	<auth-constraint>
	  <role-name>applicant</role-name>
	</auth-constraint>
	<user-data-constraint>
	  <transport-guarantee>NONE</transport-guarantee>
	</user-data-constraint>
  </security-constraint>
  
  <security-role>
    <role-name>chair</role-name>
  </security-role>
  <security-role>
    <role-name>applicant</role-name>
  </security-role>
  <security-role>
    <role-name>reviewer</role-name>
  </security-role>
  

  <resource-ref>
    <description>postgreSQL Datasource example</description>
    <res-ref-name>jdbc/postgres</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <login-config>
    <auth-method>FORM</auth-method>
	<form-login-config>
	  <form-login-page>/login.jsp</form-login-page>
	  <form-error-page>/login-error.jsp</form-error-page>
	</form-login-config>
  </login-config>
</web-app>

